[Desktop Entry]
Name=Plank
Type=Application
Exec=/usr/bin/plank
Icon=plank
Comment=A Manjaro Linux announcements notification app
X-GNOME-Autostart-enabled=true